.app-title{
      text-align: center;
}
.todo-list-container{
    border-radius: 10px;
    background-color: #f7f4f4;
    height: 300px;
    width: 300px;
    margin: 5px auto;
    border-radius: 10px;
    padding: 5px;
    overflow-y: scroll;
}
.add-input{
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    margin-right: 20px;
}
.category-select{
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
}
.add-icon{
    height: 40px;
    cursor: pointer;

}
.add-icon:hover{
    transform: rotate(90deg);
    transition: 1s;
    border: 1px silid #ccc;
     
}
.add-todo-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    overflow-y: hidden;
}